:root {
  --c-brand: #26e7ed;
  --c-brand-light: #26e7ed;
}

a {
  color: var(--c-text) !important;
}

p a {
 text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #18181b !important;
    --c-text: rgb(255,255,255,87%);
    --c-text-light:  rgb(255,255,255,87%);
  }
  .custom-block {
    color: var(--c-text) !important;
    background-color: var(--c-bg) !important;
  }
  tr:nth-child(2n) {
    background-color: inherit !important;
  }
  .action > a {
    color: var(--c-bg) !important;
  }
}
