:root {
  --vp-c-brand: #f6c177;
  --vp-c-brand-light: #f6c177;
  --vp-button-brand-bg: #f6c177;
  --vp-c-brand-lighter: #f6c177;
  --vp-c-brand-dark: #f6c177;
  --vp-c-brand-darker: #f6c177;
  --vp-button-brand-text: #18181b;
  --vp-button-brand-hover-text: #18181b;
}